$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;

// screen sizes @media

$screen_mobile: 767px;
$screen_tablet: 1200px;
$screen_laptop: 1480px;
